node_modules
.sass-cache
app/bower_components
.idea/
.tmp
dist/
articles/
archive/
sublime*
app/uploads
app/style/*.map
server/uploads
server/logs/
server/data/2016/
server_back
client/
me/
backup/
*.7z