$header-height:100px;

#page-header{
  //height: $header-height;
  width:100%;
  //margin:50px 20px;
  background-color: #36b3f4;
}

.header{
  @extend #page-header;
  folt:left;
  //background-color: #4cae4c;
  padding:20px 10px;
  div[role='nav']{
    float: right;
  }
  h1{
    color: #ffffff;
  }
}
