<form accept-charset="UTF-8" method="post" class="auth-form">

    <div class="auth-form-header">
        <h1>Sign in to MyBlog</h1>
    </div>


    <div class="error alert alert-danger" style="display: none">
    </div>


    <div class="auth-form-body">

        <label for="login_field">
            Username
        </label>
        <input autocapitalize="off" autocorrect="off" autofocus="autofocus" class="form-control input-block" id="name"
               tabindex="1" type="text">

        <label for="password">
            Password <a href="javascript:void 0" class="label-link">Forgot password?</a>
        </label>
        <input class="form-control form-control input-block" id="password" name="password" tabindex="2" type="password">

        <input class="btn btn-success btn-block login" data-disable-with="Signing in…" name="commit" tabindex="3"
               type="button" value="Sign in">
    </div>
</form>