.blog-left-div{
  height: inherit;
  width:25%;
  //background-color: #7a43b6;
  float: left;
  div{
    margin-bottom: 20px;
  }

  h4{
    font-size: 18px;
    line-height: 24px;
  }
  ul{
    padding: 0;
  }
  li{
    list-style: none;
    border-bottom: 1px dotted #ced8df;
    margin: 0;
    display: block;
    padding: 5px 0 5px 15px;
    background: url("/images/simple-nav-arrow.png") no-repeat 0 11px;
  }
  li:first-child{
    border-top: 1px dotted #ced8df;
  }
  a{
    font-size: 12px;
    color: #868686;
    text-decoration: none;
    transition: background-color .2s ease,border .2s ease,color .2s ease,opacity .2s ease-in-out;
  }
  a:hover{
    color: #23527c;
  }
}