article{
  display: block;
  text-align: justify;
}

article.article-list{
  min-height: 250px;
  margin-bottom: -10px;
}

time.article-date{
  float: left;
  text-align: center;
  font-size:12px;
  width:125px;
  height:125px;
  background-color: #9dcedf;
  padding:10px 30px;
  border:4px solid #eee;
  border-radius:125px;
}

section.article-info{
  //margin-left:125px;
  min-height: 250px;
  max-height: 500px;
  //border-bottom: 1px solid #eee;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0px -3px 1px #eee;
  ul{
    list-style: none;
    margin:0;
    padding:25px;
  }
  :hover{
    ///box-shadow: 0px -3px 1px red;
  }
}

.article-month{
  display: block;
  color:#fff;
}

.article-day{
  display: block;
  font-size:36px;
  color:#fff;
  margin:0 0 0 0;
}

.article-year{
  display: block;
  color:#fff;
  padding:10px 0 0 0;
  background: url("/images/body/content/post-meta-divider.png") top repeat-x;
}

li.article-header{
  font-size:20px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  span{
    font-size: 12px;
    color: #337ab7;
    float: right;
  }
}

li.article-description{
  display: list-item;
  max-height: 250px;
  line-height: 24px;
  overflow-y: hidden;
  text-indent: 2em;
  color: #868686;
}