@import "article";

//.blog-home {
//  .blog-content-div {
//    //background-color: #2b669a;
//    min-height: 500px;
//    display: block;
//    padding: 10px 10px;
//    margin-left: 25%;
//    position: relative;
//
//    .tip {
//      margin-top: 200px;
//    }
//  }
//  .body-footer {
//    margin-left: 25%;
//  }
//}

@media (max-width: 767px) {
  .blog-home {
    .blog-content-div {
      //background-color: #2b669a;
      min-height: 100px;
      display: block;
      padding: 0;
      margin: 0;
      position: relative;

      .tip {
        margin-top: 200px;
      }
    }
    .body-footer {
      margin: 0;
    }
  }
}

@media (min-width: 767px) {
  .blog-home {
    .blog-content-div {
      //background-color: #2b669a;
      min-height: 500px;
      display: block;
      padding: 10px 10px;
      margin-left: 25%;
      position: relative;

      .tip {
        margin-top: 200px;
      }
    }
    .body-footer {
      margin-left: 25%;
    }
  }
}