<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal" aria-label="close">
                <span  aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">关于</h4>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                <p>本站采用backbone+express+mongodb构建,纯属个人学习使用</p>
                <p>想一起交流学习的小伙伴,请邮件联系我吧 :)</p>
                <p>邮箱:<a href="mailto:snayan@sina.com">snayan@sina.com</a></p>
            </div>
        </div>
        <!--<div class="modal-footer">-->

        <!--</div>-->
    </div>
</div>