<hgroup>
    <h1>snayan</h1>
</hgroup>
<hgroup>
    <div class="clearfix">
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li class="menu-item"><a href="blog">日志</a></li>
                <li class="menu-item"><a href="life">随笔</a></li>
                <li class="menu-item"><a href="collect">收藏</a></li>
                <li class="menu-item"><a href="about">关于</a></li>
            </ul>
        </nav>
    </div>
</hgroup>