<hgroup>
    <h1>snayan</h1>
</hgroup>
<hgroup>
    <div class="clearfix" role="nav">
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li class="menu-item"><a class="blog" href="#blog">日志</a></li>
                <li class="menu-item"><a class="git" href="void:0">项目</a></li>
                <li class="menu-item"><a class="collect" href="#collect">收藏</a></li>
                <li class="menu-item"><a class="about" href="#">关于</a></li>
            </ul>
        </nav>
    </div>
</hgroup>