<aside>
    <aside >
        <time datetime="2016-03-02T23:58:35.389Z" class="article-date">
            <span class="article-month">三月</span>
            <strong class="article-day">2</strong>
            <span class="article-year">2016</span>
        </time>
    </aside>
    <section class="article-info">
        <ul>
            <li class="article-header"><a href="http://batsh.org/"><%= title %></a></li>
            <!--<li class="article-description"><%= description %></li>-->
            <li class="article-description">
                    这个是测试数据,这个是测试数据,这个是测试数据,这个是测试数据,这个是测试数据,这个是测试数据,这个是测试数据,这个是测试数据,这个是测试数据,这个是测试数据,这个是测试数据,这个是测试数据,这个是测试数据,这个是测试数据,
                    这个是测试数据,这个是测试数据,这个是测试数据,这个是测试数据,这个是测试数据,这个是测试数据,这个是测试数据,这个是测试数据,这个是测试数据,这个是测试数据,这个是测试数据,这个是测试数据,这个是测试数据,这个是测试数据,
                    这个是测试数据,这个是测试数据,这个是测试数据,这个是测试数据,这个是测试数据,这个是测试数据,这个是测试数据,这个是测试数据,这个是测试数据,这个是测试数据,这个是测试数据,这个是测试数据,这个是测试数据,这个是测试数据,
                    这个是测试数据,这个是测试数据,这个是测试数据,这个是测试数据,这个是测试数据,这个是测试数据,这个是测试数据,这个是测试数据,这个是测试数据,这个是测试数据,这个是测试数据,这个是测试数据,这个是测试数据,这个是测试数据,

            </li>
        </ul>
    </section>
</aside>