<aside>
    <section class="article-info">
        <ul>
            <li class="article-header">
                <a href="void:0" data-id="<%= _id %>"><%= title %></a>
                <span><%= updateDate %></span>
            </li>
            <li class="article-description">
                <%= description %>
            </li>
        </ul>
    </section>
</aside>