<aside>
    <section class="article-info">
        <ul>
            <li class="article-header">
                <a href="#article/<%= _id %>"><%= title %></a>
                <span>2016-06-18</span>
            </li>
            <li class="article-description">
                <p><%= description %></p>
            </li>
        </ul>
    </section>
</aside>