
h1,h2,h3,h4,h5,h6{
  font-weight: normal;
  font-variant: normal;
  white-space: normal;
  color: #898989;
  margin-bottom: 15px;
  font-family: 'Dosis','Helvetica Neue','Arial','Verdana','H-BuMing','FZNew XiuLi-Z11','Hiragino Mincho ProN','YuMincho','Adobe Ming Std','LiSong Pro Light','Songti TC','PMingLiU',serif;
}