html {
  background-color: #d3d3d3;
  color: #222; }

body {
  background-color: #d3d3d3;
  background-repeat: no-repeat;
  background-position: center center; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-variant: normal;
  white-space: normal;
  color: #777;
  margin-bottom: 15px;
  font-family: 'Dosis','Helvetica Neue','Arial','Verdana','H-BuMing','FZNew XiuLi-Z11','Hiragino Mincho ProN','YuMincho','Adobe Ming Std','LiSong Pro Light','Songti TC','PMingLiU',serif; }

span.badge {
  float: right;
  background-color: #acacac; }

#page-body {
  width: 100%;
  min-height: 560px; }

.admin-login {
  width: 340px;
  margin-left: auto;
  margin-right: auto; }

.auth-form-header {
  margin-bottom: 15px;
  color: #333;
  text-align: center;
  text-shadow: none;
  background-color: transparent;
  border: 0; }
  .auth-form-header h1 {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -0.5px; }

.auth-form-body {
  box-shadow: 0 0 2.5em #5d656c;
  border: 1px solid #d8dee2;
  border-radius: 5px;
  padding: 20px;
  font-size: 14px;
  background-color: #ffffff;
  box-sizing: border-box; }
  .auth-form-body a {
    color: #4078c0;
    text-decoration: none; }
  .auth-form-body label {
    display: block;
    margin-bottom: 7px;
    font-weight: normal; }
  .auth-form-body .input-block {
    margin-top: 5px;
    margin-bottom: 15px;
    display: block;
    width: 100%; }
  .auth-form-body .label-link {
    float: right;
    font-size: 12px;
    border: 1px solid transparent; }

div.admin-top {
  width: 100%;
  margin-bottom: -20px; }

div.admin-left {
  background-color: #f8f8f8;
  text-align: center;
  min-height: 560px;
  height: 100%; }
  div.admin-left .active > a {
    color: #555;
    background-color: #e7e7e7; }

div.content {
  padding: 15px; }

div.content > div:first-child {
  width: 50%;
  margin-left: auto;
  margin-right: auto; }

td.ifShow, td.createDate, td.seeCount {
  text-align: center !important; }

div.article {
  overflow: hidden;
  position: relative; }
  div.article button {
    position: absolute;
    right: 0;
    top: 0; }
  div.article input {
    float: left; }

div.spanList {
  overflow: hidden;
  overflow-y: scroll; }

span.label {
  margin: 10px;
  float: left;
  padding: 5px;
  cursor: pointer; }

label.spanTitle {
  margin-bottom: -10px; }

button.center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.page {
  width: 65%;
  margin: 20px auto 80px;
  padding: 0px;
  background-color: #fff;
  box-shadow: 0 0 2.5em #5d656c; }

.row {
  margin-right: 0px;
  margin-left: 0px; }

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding: 0px; }

/*# sourceMappingURL=admin.css.map */
