@import "gobal";
@import "markdown";
@import "header/_header";
@import "body/body";
@import "footer/footer";

.index-page {
  width: 65%;
  //min-height: 100%;
  margin: 20px auto 25px;
  padding: 0px;
  background-color: #fff;
  box-shadow: 0 0 2.5em #5d656c;
}

article.article {
  padding: 10px 40px;
}

.tip {
  text-align: center;
  color: #777;
  border: none;
}

.particles {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.back {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #000;
  opacity: 0.2;
  z-index: 999;
}

.content {
  //position: relative;
}