html {
  background-color: #d3d3d3;
  color: #222; }

body {
  line-height: 1.5;
  background-color: #d3d3d3;
  background-repeat: no-repeat;
  background-position: center center; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-variant: normal;
  white-space: normal;
  color: #777;
  margin-bottom: 15px;
  font-family: 'Dosis', 'Helvetica Neue', 'Arial', 'Verdana', 'H-BuMing', 'FZNew XiuLi-Z11', 'Hiragino Mincho ProN', 'YuMincho', 'Adobe Ming Std', 'LiSong Pro Light', 'Songti TC', 'PMingLiU', serif; }

a {
  color: #898989;
  text-decoration: none;
  -webkit-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
  -moz-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
  -ms-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
  -o-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
  transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out; }

p code {
  color: #444;
  background-color: #f5f5f5;
  font-family: Courier, 'Liberation Mono', Consolas, monospace; }

span.badge {
  float: right;
  background-color: #acacac; }

/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8; }

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic; }

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold; }

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080; }

.hljs-string,
.hljs-doctag {
  color: #d14; }

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold; }

.hljs-subst {
  font-weight: normal; }

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold; }

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal; }

.hljs-regexp,
.hljs-link {
  color: #009926; }

.hljs-symbol,
.hljs-bullet {
  color: #990073; }

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3; }

.hljs-meta {
  color: #999;
  font-weight: bold; }

.hljs-deletion {
  background: #fdd; }

.hljs-addition {
  background: #dfd; }

.hljs-emphasis {
  font-style: italic; }

.hljs-strong {
  font-weight: bold; }

#page-header, .header {
  width: 100%;
  background-color: #36b3f4; }

.header {
  folt: left;
  padding: 20px 10px; }
  .header div[role='nav'] {
    float: right; }
  .header h1 {
    color: #ffffff; }
  .header hgroup {
    overflow: hidden; }
  .header hgroup:first-child {
    margin-bottom: 20px; }
  .header nav:last-child {
    margin-bottom: 0px; }

.blog-left-div {
  height: inherit;
  width: 25%;
  float: left; }
  .blog-left-div div {
    margin-bottom: 20px; }
  .blog-left-div h4 {
    font-size: 18px;
    line-height: 24px; }
  .blog-left-div ul {
    padding: 0; }
  .blog-left-div li {
    list-style: none;
    border-bottom: 1px dotted #ced8df;
    margin: 0;
    display: block;
    padding: 5px 0 5px 15px;
    background: url("/images/simple-nav-arrow.png") no-repeat 0 11px; }
  .blog-left-div li:first-child {
    border-top: 1px dotted #ced8df; }
  .blog-left-div a {
    font-size: 12px;
    color: #868686;
    text-decoration: none;
    transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out; }
  .blog-left-div a:hover {
    color: #23527c; }
  .blog-left-div .tag-div div:not(.tip) {
    border-top: 1px dotted #ced8df; }
  .blog-left-div .tag-div a {
    display: inline-block;
    padding: 8px; }

article.article {
  color: #444;
  display: block;
  text-align: justify;
  font-size: 15px;
  font-family: 'Open Sans', 'Helvetica Neue', 'Arial', 'Verdana', 'Hiragino Sans GB', 'STHeiti', 'SimSun', sans-serif; }
  article.article h1, article.article h2, article.article h3, article.article h4, article.article h5, article.article h6 {
    font-family: 'Dosis', 'Helvetica Neue', 'Arial', 'Verdana', 'Songti SC', 'STSong', 'SimSun', serif; }
  article.article h1 {
    margin-bottom: 30px;
    font-size: 34px;
    line-height: 36px; }
  article.article h2 {
    font-size: 26px;
    line-height: 34px; }
  article.article h3 {
    font-size: 24px;
    line-height: 34px; }

a {
  color: #1f4e5e; }

article.article-list {
  min-height: 250px;
  margin-bottom: -10px; }

time.article-date {
  float: left;
  text-align: center;
  font-size: 12px;
  width: 125px;
  height: 125px;
  background-color: #9dcedf;
  padding: 10px 30px;
  border: 4px solid #eee;
  border-radius: 125px; }

section.article-info {
  min-height: 250px;
  max-height: 500px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0px -3px 1px #eee; }
  section.article-info ul {
    list-style: none;
    margin: 0;
    padding: 25px; }

.article-month {
  display: block;
  color: #fff; }

.article-day {
  display: block;
  font-size: 36px;
  color: #fff;
  margin: 0 0 0 0; }

.article-year {
  display: block;
  color: #fff;
  padding: 10px 0 0 0;
  background: url("/images/body/content/post-meta-divider.png") top repeat-x; }

li.article-header {
  font-size: 20px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee; }
  li.article-header span {
    font-size: 12px;
    color: #337ab7;
    float: right; }

li.article-description {
  display: list-item;
  max-height: 250px;
  line-height: 24px;
  overflow-y: hidden;
  text-indent: 2em;
  color: #868686; }

.blog-content-div {
  min-height: 500px;
  display: block;
  padding: 10px 10px;
  margin-left: 25%;
  position: relative; }
  .blog-content-div .tip {
    margin-top: 200px; }

article.collect-list {
  float: left;
  width: 31.33333%;
  margin: 1%; }
  article.collect-list a {
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 10px 15px;
    min-height: 140px;
    box-sizing: content-box;
    text-decoration: none;
    display: block;
    color: #868686;
    background-color: #ffffff; }
  article.collect-list a:hover {
    color: #ffffff;
    background-color: #868686; }
  article.collect-list span {
    display: block;
    text-align: left; }
  article.collect-list span.title {
    font-size: 24px;
    padding-bottom: 12px; }

div.search {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 25%; }

input[type='search'] {
  background: #fff url("/images/body/content/search-bg.png") right no-repeat;
  color: #acacac;
  border: 1px solid #88bbc8;
  border-radius: 3px;
  box-shadow: 2px 2px 1px #b7b7b7;
  font-size: 12px;
  width: 100%;
  padding: 5px 8px; }

.git-list {
  margin-bottom: 30px; }
  .git-list a.item-article {
    min-height: 140px;
    border: 1px solid #eee;
    padding: 10px 15px 50px;
    position: relative;
    display: block;
    box-sizing: content-box;
    text-decoration: none; }
  .git-list a.item-article:hover {
    border-color: #d4fd02; }
  .git-list span {
    display: block;
    text-align: left; }
  .git-list button {
    float: left;
    position: relative;
    display: inline-block;
    padding: 2px 10px;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #eee;
    border: 1px solid #d5d5d5;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; }
  .git-list .title {
    font-size: 20px;
    padding-bottom: 12px;
    line-height: 27px; }
  .git-list .text {
    line-height: 22px;
    color: #868686; }
  .git-list .stat {
    position: absolute;
    bottom: 10px;
    right: 20px; }
    .git-list .stat span {
      float: left;
      font-size: 14px;
      line-height: 30px; }
    .git-list .stat span:first-child {
      margin-right: 20px; }
    .git-list .stat span.count {
      float: left;
      padding: 2px 7px;
      font-size: 11px;
      font-weight: bold;
      line-height: 21px;
      color: #333;
      vertical-align: middle;
      background-color: #fff;
      border: 1px solid #ddd;
      border-left: 0px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px; }

.blog-home {
  width: 100%; }

.about .modal-body {
  text-align: center; }

#page-body {
  width: 100%;
  min-height: 560px; }

span.error {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -60px;
  margin-bottom: -10px;
  color: red; }

.page {
  width: 65%;
  margin: 20px auto 80px;
  padding: 0px;
  background-color: #fff;
  box-shadow: 0 0 2.5em #5d656c; }

article.article {
  padding: 10px 40px; }

.tip {
  text-align: center;
  color: #777;
  border: none; }

/*# sourceMappingURL=index.css.map */
